<section class="section module-small">
	<h1 class="section-heading pt-4 title orange-text">Get in touch with us</h1>
	<div class="container">
		<div class="row m-top50">
			<div class="col-sm-4">
				<div class="content-box">
					<div class="content-box-icon">
						<span class="fa fa-map-marker"></span>
					</div>
					<div class="content-box-title font-inc">
						Hyderabad,India.
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="content-box">
					<div class="content-box-icon">
						<span class="fa fa-phone"></span>
					</div>
					<div class="content-box-title font-inc">
					<a href="tel:+919949509933">+919949509933</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="content-box">
					<div class="content-box-icon">
						<span class="fa fa-envelope"></span>
					</div>
					<div class="content-box-title font-inc">
						hello@jackfruitsolutions.com
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
