<section class="section module-small">
  <h1 class="section-heading pt-4 title orange-text">Who we are?</h1>
  <div class="container">
    <div class="row m-top50">
      <p class="section-description text-left">
        JackfruIT Solutions is a Web and Phone App development company that started off with a vision, to help
        every small business get onto the web effectively and effortlessly.
        A combination of modern and practical designs is what distinguishes us from the others.
      </p>
      <p class="section-description text-left">
        Although entrepreneurs start off with great ideas, when it's time to have a presence on the web,
        they usually hit a roadblock, with questions like "Where do I start?", "Whom do I contact?" etc.
        This is where we come to your rescue, by offering you a functional and user interactive solution, after
        reviewing your business needs.
      </p>
      <div class="row features-small pt-2">
        <div class="col-lg-5 xmb-r xcenter-on-small-only">
          <img src="https://s3.ap-south-1.amazonaws.com/jf-assets/about_1.jpg" alt="" class="img-fluid z-depth-0" height="90%">
        </div>
        <div class="col-lg-7">
          <div class="row pb-3">
            <div class="col-2 d-none d-sm-block">
              <i class="fa fa-group orange-text"></i>
            </div>
            <div class="col-sm-10 col-xs-12">
              <h5 class="feature-title">Why Us?</h5>
              <p>
                Only because we are fun,creative, professional and are great listeners.
                (P.S - We also belong to GEN X, which is by far the coolest generation ever witnessed on the face of the earth.)
              </p>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2 d-none d-sm-block">
              <i class="fa fa-code orange-text"></i>
            </div>
            <div class="col-sm-10 col-xs-12">
              <h5 class="feature-title">Do we know what we are doing?</h5>
              <p>
                Of course!
              </p>
              <p>  She has a Bachelors Degree in Computer Science from Western Michigan University, with 
                over 10 years of experience building Web and Phone Apps, both in India and the United States.
              </p>
              <p>  He has a Masters Degree in Mechanical Engineering from Western Michigan University, with
                over 10 years of experience in Project Management and Technical Sales, both in India and the United States.
              </p>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2 d-none d-sm-block">
              <i class="fa fa-wrench orange-text"></i>
            </div>
            <div class="col-sm-10 col-xs-12">
              <h5 class="feature-title">What technologies are we working on?</h5>
              <p >
                Cutting Edge! This list can get pretty long and we don’t want to bore you with gibberish.
                However, we will keep you updated on the technology front while we are reviewing your business needs.
              </p>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-2 d-none d-sm-block">
              <i class="fa fa-question orange-text"></i>
            </div>
            <div class="col-sm-10 col-xs-12">
              <h5 class="feature-title"> Any Questions?</h5>
              <p>
                Talk to Us. We would love to chat up with you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
