.footer {
    background: #f5f5f5;
    padding: 35px 0;
  }
  .copyright {
    font-size: 14px;
}

.font-inc {
    font-family: "Inconsolata", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.m-b-0 {
    margin-bottom: 0 !important;
}
