<section class="section module-small section-project">
  <h1 class="section-heading pt-4 title orange-text">Some of our work!</h1>
  <div class="container">
    <div class="row m-top50">
      <div class="card-deck">
        <div class="card mb-4">
          <div class="view overlay">
            <img class="img-fluid" src="https://s3.ap-south-1.amazonaws.com/jf-assets/training.jpeg" alt="Training">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Training Software System</h4>
            <p class="card-text">A platform for trainers to
              add courses, conduct classes, grade and evaluate potential full time employees,
              while also being able to schedule advanced level of interviews.
            </p>
          </div>
        </div>
        <div class="card mb-4">
          <div class="view overlay">
            <img class="img-fluid" src="https://s3.ap-south-1.amazonaws.com/jf-assets/accounting.jpeg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">ERP</h4>
            <p class="card-text">The legacy
              Enterprise Resource Planning system was migrated into a web based application for ease of use and better performance.
              Some of the modules that were worked on are the Accounts Payable, Accounts Receivable, Inventory and the General Ledger.
            </p>
          </div>
        </div>
        <div class="card mb-4">
          <div class="view overlay">
            <img class="img-fluid" src="https://s3.ap-south-1.amazonaws.com/jf-assets/performance.jpeg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Staff Member Evaluation</h4>
            <p class="card-text">This portal is used by the Executive level to track employee performances, their retail and request percentages.
              This system is very critical to the company, since it has real time information on every location, which in turn projects the company’s performance at any given time.
            </p>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div class="card mb-4">
          <div class="view overlay">
            <img class="img-fluid" src="https://s3.ap-south-1.amazonaws.com/jf-assets/resort.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Loyalty Programs</h4>
            <p class="card-text">A web based application to manage the Loyalty Program of members for several hotels in
              a leading resort. The member portal was completely configurable by the administrator to ensure each member
              saw data that was only applicable and recommended based on the member's past visits, interests etc.
            </p>
          </div>
        </div>
        <div class="card mb-4">
          <div class="view overlay">
            <img class="img-fluid" src="https://s3.ap-south-1.amazonaws.com/jf-assets/application.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Online Application and Interview Scheduling System</h4>
            <p class="card-text">This System allows applicants to submit applications for various positions in the company,
              which after being submitted, is automatically routed to the designated departments.
              Afterwhich, interviews and rescheduling are managed automatically between the trainers and the applicants.
            </p>
          </div>
        </div>
        <div class="card mb-4">
          <div class="view overlay">
            <img class="img-fluid" src="https://s3.ap-south-1.amazonaws.com/jf-assets/maintenance.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Maintenance Logging System</h4>
            <p class="card-text">A web based application that provides scheduling, and routing maintenance issues,
              by allowing the department head to add them electronically.
              Automated emails are sent to the designated departments and the statuses are updated for both parties to view.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
